.topbar {
  background: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar-actions {
  display: flex;
  gap: 1rem;
}

.topbar input {
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  border: 1px solid #d1d5db;
}

.primary-btn {
  background: #ff8c32;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
  margin-bottom: 2rem;
}

.stat-card {
  background: white;
  padding: 1.2rem;
  border-radius: 10px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
}

.card {
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
}

/* Container de la liste */
.client-list {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.client-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
  border-bottom: 1px solid #f1f5f9;
}

.client-item:last-child {
  border-bottom: none;
}

.client-name {
  font-weight: 500;
  color: var(--text-main);
}

/* Base du Badge */
.status-badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
}


.status-badge.active {
  background-color: #dcfce7; 
  color: #166534; 
}

.status-badge.active::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #22c55e; 
  border-radius: 50%;
}

.status-badge.inactive {
  background-color: #fee2e2; 
  color: #991b1b; 
}

.status-badge.inactive::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #ef4444; 
  border-radius: 50%;
}